In [1]:
#defining and declaring and arrya or list


list_1 = [10,20,30,40,50]
print(list_1)

[10, 20, 30, 40, 50]

In [4]:
#Accessing array elements
print(list_1[0]) 
print(list_1[1])
print(list_1[2])
print(list_1[-2])  #negative indexing 
print(list_1[-1])  #it denote last negative index

10
20
30
40
50

In [10]:
#let's create new arrau  or list 

brands = ["Coke", "Apple", "Google", "Microsoft", "Toyota"]

print(brands)
print(type(brands))  # this will show the types of 
print(len(brands))  # this ill checks the length of the brand

['Coke', 'Apple', 'Google', 'Microsoft', 'Toyota']
<class 'list'>
5

In [13]:
#adding elements to an list or array used append()

brands.append("Lenovo")  
brands .append("Sony")
brands.append("Cisco")

print(brands)

['Coke', 'Apple', 'Google', 'Microsoft', 'Toyota', 'Lenovo', 'Lenovo', 'Sony', 'Lenovo', 'Sony', 'Cisco']

In [23]:
#removing elements fromt the list 

fruits = ["apple", "banana", "orange", "papaya", "mango", "grapes"]

print(fruits)
print(len(fruits))
print(type(fruits))

del fruits[0] 
fruits.remove('orange')
fruits.pop(1)
print(fruits)

['apple', 'banana', 'orange', 'papaya', 'mango', 'grapes']
6
<class 'list'>
['banana', 'mango', 'grapes']

In [30]:
#Modifying elements of an array using indexing

fruit = ["apple", "banana", "orange", "papaya", "mango", "grapes"]

fruit[1] = "Guva"
fruit[-1] = "watermello"
print(fruit)

['apple', 'Guva', 'orange', 'papaya', 'mango', 'watermello']

In [31]:
#concatenating two arrays using the + operater
concat = [1, 2, 3]

my_list = concat + [4, 5, 6]

print (my_list)

[1, 2, 3, 4, 5, 6]

In [32]:
arr1 = [4, 5, 1]
arr2 = [2 , 9, 3 , 4]

new_arr = arr1 + arr2

print(new_arr)

[4, 5, 1, 2, 9, 3, 4]

In [34]:
fruits = ["apple", "banana", "orange", "papaya", "mango", "grapes"]

print(fruits)
print(fruits[1:4])
print(fruits[ :3])
print(fruits[-4: ])
print(fruits[-3:-1])

['apple', 'banana', 'orange', 'papaya', 'mango', 'grapes']
['banana', 'orange', 'papaya']
['apple', 'banana', 'orange']
['orange', 'papaya', 'mango', 'grapes']
['papaya', 'mango']

In [37]:
#declearing and defining multidimentional array

multd = [[1,2], [3,4], [5,6], [7,8]]

print(multd)
print(multd[0])
print(multd[3])
print(multd[2][1])
print(multd[3][0])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
[7, 8]
6
7