A string is a sequence of characters. String can contain alphabets, digits and special characters.

the conversion of characterto a number is called encoding and the revrese process is decoding.
ASCU and Unicode are some of the popular encoding used.

In [4]:
#accessing characters in a string 

mystr = 'language'
print('mystr = ', mystr)

print('mystr[0] =' , mystr[0])
print('mystr[-1]=', mystr[-1])
print('mystr[1:5] =', mystr[1:5])
print('mystr[5:-2]=', mystr[5:-2])

mystr =  language
mystr[0] = l
mystr[-1]= e
mystr[1:5] = angu
mystr[5:-2]= a

In [9]:
#string are imutable
#string concartination

mystr1 = 'welcome'
mystr2 = ' to all'

#usiing +

print('mystr1 + mystr2 =', mystr1 + mystr2)

#using *

print('mystr1 *3 =0', mystr * 3)

mystr1 + mystr2 = welcome to all
mystr1 *3 =0 languagelanguagelanguage

In [16]:
#iterating through a string 
letter_count = 0
for letters in "Hello worlds":
    if (letters == 'w'):
        letter_count += 1
print(letter_count, 'times o letter has been found')

1 times o letter has been found

In [22]:
#string memberships

print('l' in "hello")
print('l' not in "hello")
print('b' in "hello")
print('b' not in "hello")

True
False
False
True

In [28]:
#format() method 

#default(implict ) order
default_order = "{} {} and {}".format('Today', 'is', 'monday')
print(default_order)

#order using positional arguments
positional_order = "{1} {0} and {2}".format('is', 'today', 'monday')
print(positional_order)

Today is and monday
today is and monday

In [29]:
#using key order arguments
key_order = "{t}, {i} and {s}".format(i='is', t='Today', s='Sunday')
print(key_order)

Today, is and Sunday

In [31]:
#formating numbers 
print("Required binary representtions of {0} is {0:b}".format(20))

#foratiing floats
print("Exponet represetation: {0:e}".format(1566.345))

#roundoff
print("one third is: {0:3f}".format(1/3))

Required binary representtions of 20 is 10100
Exponet represetation: 1.566345e+03
one third is: 0.333333

In [37]:
#string methods

print("good morNing to ALl".lower())
print("good morNing to ALl".upper())
print("good morNing to ALl".find('to'))
print("good morNing to ALl".replace('ALl','everybody'))

good morning to all
GOOD MORNING TO ALL
13
good morNing to everybody

Data type conversions

In [40]:
#impllict type conversions
num_int = 123
num_flot = 1.12
num_new = num_int + num_flot

print(type(num_int))
print(type(num_flot))
print(type(num_new))

<class 'int'>
<class 'float'>
<class 'float'>

In [45]:
num = 123 
num2 = "123000"

print(type(num))

print(type(num2))

num1 = int(num2)

num_sum = num + num1

print(num_sum)

<class 'int'>
<class 'str'>
123123

In [46]:
#python math module
import math
print(math.pi)
print(math.cos(10))
print(math.log(10))
print(math.log10(10))
print(math.exp(10))
print(math.factorial(5))
print(math.sinh(10))

3.141592653589793
-0.8390715290764524
2.302585092994046
1.0
22026.465794806718
120
11013.232874703393

In [50]:
# import random module
import random

print('Random number ->', random.randrange(5, 15))

Random number -> 7

In [59]:
day = ['sun', 'mon','tue','wed', 'thus','fri', 'sat']
print(random.choice(day))

print(day)
random.shuffle(day)
print(day)

#print random element
print(random.random())

fri
['sun', 'mon', 'tue', 'wed', 'thus', 'fri', 'sat']
['wed', 'fri', 'sat', 'sun', 'mon', 'tue', 'thus']
0.3004932364216061

In [63]:
a =2
print('id(2) =', id(2))

print('id(a) =', id(a))

id(2) = 140703144355664
id(a) = 140703144355664

In [66]:
#scope 
def outer_function():
    global a
    a = 20
    
    def inner_function():
        global a 
        a = 30
        print('a =', a)
        
    inner_function()
    print('a = ', a)
a = 10

print('a =',a )
outer_function()
print('a =', a)

a = 10
a = 30
a =  30
a = 30