In [1]:
#creating empty tuple
tuple1 = ()

print(tuple1)

()

In [2]:
#creatring tuple with integers 
tuple2 = (1,2,3)

print(tuple2)
print(type(tuple2))

print("\n")

#tuple with mixed datatypes

tuple3 = (101, "arab", 2002.2, "Hr department")
print(tuple3)

(1, 2, 3)
<class 'tuple'>


(101, 'arab', 2002.2, 'Hr department')

In [3]:
#tuple inside a tuple called nested tuple 
tuple4 =( "points", [1,2,3.4], [7,8,9,20])

print(tuple4)

('points', [1, 2, 3.4], [7, 8, 9, 20])

In [4]:
#tuple also created with out any parenthesis
#due to which tuple is caled as unpacking 

tuple5 = 101, "arman", 33.33, "HR dept"
print(tuple5)

(101, 'arman', 33.33, 'HR dept')

In [7]:
#tuple unpacking is also possible 

empid,empname,empsal,empdept = tuple5

print(empid)
print(empname)
print(empdept)

print(type(tuple5))

101
arman
HR dept
<class 'tuple'>

In [17]:
#accesing elements in a tuple

tuple1 = ('w', 'e', '1', 'c','o','m','e')

print(tuple1)
print(tuple1[1])
print(tuple1[3])
print(tuple1[5])

print("\n")

#nested tuple
nest_tuple2 = ("point", [1,3,4], (8,7,9))
print(nest_tuple2)

print(nest_tuple2[0][3])
print(nest_tuple2[1][2])
print(nest_tuple2[2][2])

('w', 'e', '1', 'c', 'o', 'm', 'e')
e
c
m


('point', [1, 3, 4], (8, 7, 9))
n
4
9

In [20]:
#slicing tuple

tuple1 = ('w', 'e', '1', 'c','o','m','e')

print(tuple1[1:3])
print(tuple1[:-3])
print(tuple1[3:])
print(tuple1[:])

('e', '1')
('w', 'e', '1', 'c')
('c', 'o', 'm', 'e')
('w', 'e', '1', 'c', 'o', 'm', 'e')

In [21]:
tuple1 = ('w', 'e', '1', 'c','o','m','e')
print(tuple1)

#tuples can be reassigened
tuple1 = ('g','o','o','d','b','y','e')
print(tuple1)

('w', 'e', '1', 'c', 'o', 'm', 'e')
('g', 'o', 'o', 'd', 'b', 'y', 'e')

In [23]:
#tuple concatenations

tuple2 =('w', 'e', '1')
tuple3 = ('c','o', 'n', 'q')
print(tuple2)
print(tuple3)

print(tuple2 + tuple3)

print(("again",) *4)

('w', 'e', '1')
('c', 'o', 'n', 'q')
('w', 'e', '1', 'c', 'o', 'n', 'q')
('again', 'again', 'again', 'again')

In [ ]:
#deletion operation  in tuple4

tuple4 =('w','e','1','c','o','m','e')
#as immutable so elements can not be deleted
#del tuple4[2]

#but can deleted entire tuple
del tuple4
print(tuple4)

In [27]:
tuple5 = ('w', 'e', '1', 'c','o','m','e')
print(tuple5.count('e'))
print(tuple5.index('c'))

2
3

In [31]:
#tuples operations 
tuple6 = ('w', 'e', '1', 'c','o','m','e')

#memberships
print('c' in tuple6)
print('c' not in tuple6)
print('a' in tuple6)
print('a' not in tuple6)

for letters in tuple6:
    print("letter is -> ", letters)

True
False
False
True
letter is ->  w
letter is ->  e
letter is ->  1
letter is ->  c
letter is ->  o
letter is ->  m
letter is ->  e

In [36]:
#builting functions with tuples
tuple7 = (22, 33, 55, 44, 77, 66, 11)

print(tuple7)
print(min(tuple7))
print(max(tuple7))
print(sorted(tuple7))
print(len(tuple7))

(22, 33, 55, 44, 77, 66, 11)
11
77
[11, 22, 33, 44, 55, 66, 77]
7

In [4]:
#convertion tuples into list 

x = ("apple", "banana", "cherry")
y = list(x)

print(y)
print(type(y))

y[1] = "kiwi"

x = tuple(y)
print(x)

['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'kiwi', 'cherry')

In [10]:
#Convertion list into tuple
thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
print(y)

y.append("orange")

thistuple = tuple(y)

print(thistuple)

z = list(thistuple)
z.remove("apple")
thistuple = tuple(z)
print(thistuple)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry', 'orange')
('banana', 'cherry', 'orange')

In [12]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2

tuple4 = tuple3 *2

print(tuple3)
print(tuple4)

('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3)